<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ingresa tu Nombre</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ingresa tu Nombre</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" role="form" method="POST" action="sessioned.php" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jose Pablo Prado" value="">
                        </div>
                        <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="file-field input-field col s12">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" name="foto" id="foto">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>