<div class="row">
    <div class="box">
        <div>
            <hr>
            <h2 class="intro-text text-center">
                Preguntas a responder
            </h2>
            <hr>
            <hr class="visible-xs">
                <strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong>
                <div class="answer">
                Porque de esta manera se pueden cerrar sesiones, limpiarlas y destruirlas.
                </div><br>
                <strong>¿Cuál es la diferencia entre una variable de sesión y una cookie? </strong>
                <div class="answer">
                Una variable de sesión permite conservar información sobre un usuario al pasar de una página a otra. En cambio, la cookie almacena los datos asociados a una sesión en el servidor.
                </div><br>
                <strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre? </strong>
                <div class="answer">
                Usar la sesión como parte del nombre.
                </div><br>
                <strong>¿Qué es CSRF y cómo puede prevenirse? </strong>
                <div class="answer">
                Cross site request forgery. Este consiste en ejecutar un script en el navegador de la víctima; aprovechandose de un inicio de sesión. Este puede ser prevenido al generar un identificador aleatorio para cada pedido, una cadena única para cada sesión. 
                </div><br>
        </div>
    </div>
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Envíanos tus comentarios</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Envíanos tus comentarios</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" role="form" method="POST" action="send.php">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jose Pablo Prado" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email" placeholder="a00000000@itesm.mx" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Mensaje</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" rows="4" name="mensaje"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>