#table{
    text-align: center;
}
.tdWidth{
    width: 33.333%;
}
body {
    background-color: #3e505b;
    margin: 2%;
}
#divColor {
    background-color: #a9c5c1;
    padding: 5%;
    height: 100%;
    width: 100%;
}

.navbar-inverse {
  background-color: #5995ed;
  border-color: #1a5493;
}
.navbar-inverse .navbar-brand {
  color: #3e505b;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #103037;
}
.navbar-inverse .navbar-text {
  color: #3e505b;
}
.navbar-inverse .navbar-nav > li > a {
  color: #3e505b;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #103037;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #103037;
  background-color: #1a5493;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #103037;
  background-color: #1a5493;
}
.navbar-inverse .navbar-toggle {
  border-color: #1a5493;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #1a5493;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #3e505b;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #3e505b;
}
.navbar-inverse .navbar-link {
  color: #3e505b;
}
.navbar-inverse .navbar-link:hover {
  color: #103037;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #3e505b;
  color: #c1e2f0;
}

ul.dropdown-menu{
  background-color: #7cafc4;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #3e505b;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #103037;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #103037;
    background-color: #1a5493;
  }
}

.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse  .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #103037;
  background-color: #1a5493;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #044389;
    margin: 1em 0;
    padding: 0; 
}
@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: 'Changa One', cursive;
        font-size: 5em;
        line-height: normal;
        color: #e8f4f9;
    }
    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #e8f4f9;
    }

}
.cite{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
}
.answer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
}
strong{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 145%;
}