
table,tr,td{
    border= 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
table{
    float:right;
}
img{
    height: 150px;
    border: 1px;
    border-color: black;
    border-collapse: collapse;
    border-style: solid;
}

