    <?php
        echo "PROMEDIO<br>";
        echo prom([5,5,5]);
        echo "<br>MEDIA<br>";
        echo med([2,5,10,68,73,24,92,71,77]);
        echo "<br>LISTA<br>";
        lista([1,54,22,35,76,84,31,88]);
        echo "<br>TABLA<br>";
        tab();
        echo "<br>Inverso de un entero<br>";
        echo inv(5678);
    ?>
    <div class="row">
            <div class="box">
                <div>
                    <hr>
                    <h2 class="intro-text text-center">
                        Preguntas a responder
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                        <strong>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</strong>
                        <div class="answer">
                        Esta función muestra nuestra configuración actual de php. La versión, los módulos cargados, con qué opciones se compiló, entre otras cosas. 
                        </div><br>
                        <strong>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</strong>
                        <div class="answer">
                        Se debe preparar la base de datos, el registro de usuario, el gestor de despliegue y el servidor web remoto. 
                        </div><br>
                        <strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong>
                        <div class="answer">
                        Por que el php despliega al html.
                        </div><br>
                </div>
            </div>
        </div>
    </div>
    <footer><a href="http://brackets.io">BRACKETS</a></footer>
    </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src = "js/events.js"></script>
</html>
    
