body{
    background-color: #313534;
    margin: 2%;
}
.dropdown.menu {
    background: #767D9D;
}

.top-bar {
    background: #222E50;
}

.menu.vertical {
    background: #222E50;
}

a {
    color: #fff;
    &:hover {
        background: lighten(#333, 8%);
    }
}

#divColor {
    background-color: #DFE1B8;
    padding: 5%;
    height: 100%;
    width: 100%;
}

.button.custom {
background-color: #007991;
}

.button.custom:hover, 
.button.custom:focus {
background-color: darken(#007991, 5%);
}

.menu .menu-text {
    color: #313534; 
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #DFE1B8;
}