.menu {
    background: #333;
}

a {
    color: #fff;
    &:hover {
        background: lighten(#333, 8%);
    }
}

#divColor {
    background-color: #a9c5c1;
    padding: 5%;
    height: 100%;
    width: 100%;
}