    </div>
    <footer><a href="http://brackets.io">BRACKETS</a></footer>
    </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src = "events.js"></script>
  <script type="text/jscript" src = "lab11.js"></script>
  <script type="text/javascript" src="myjs.js"></script>
</html>