div.absolute {
    position: absolute;
    top: 100px;
    width: 200px;
    height: 100px;
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: 'Changa One', cursive;
    font-size: 250%;
    line-height: normal;
    color: #e8f4f9;
}

div.relative {
    position: relative;
    top: 150px;
    width: 200px;
    height: 100px;
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Lucida Console", monospace;
    font-size: 300%;
    line-height: normal;
    color: #e8f4f9;
}
div.absolute2 {
    position: absolute;
    top: 275px;
    background-color: #a9c5c1;
    padding: 5%;
    height: 100%;
    width: 100%;
}

div.buttonCustom {
    font-family: 'Changa One', cursive;
    color: #ffff;
}

#marca {
    position: fixed;
    opacity: .195;
    margin-left:5%;
    margin-top: 5%;
}
