<div class="container">
  <div class="section" id="done" style="padding: 13em 0em">
    <h1 class="center brown-text"><?=$msg?></h1>
    <form>
      <input type="button" class="btn btn-primary" value="Go back!" onclick="history.go(-1)">
      <input>
    </form>
  </div>
</div>