<div class="row">
    <div class="box">
        <div>
            <hr>
            <h2 class="intro-text text-center">
                Preguntas a responder
            </h2>
            <hr>
            <hr class="visible-xs">
                <strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong>
                <div class="answer">
                Es una buena práctica por que impides que un usuario, posiblemente no registrado, vea el código de la página que despliegas despues de llenar una forma.
                </div><br>
                <strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong>
                <div class="answer">
                $_Cookie: Contiene información temporal(tiene caducidad).
                <br>
                $_Request: Es una combinación de post, get y cookie. Se ejecutan los 3.
                <br>
                $_Files: Guarda los elementos subidos por el método post.
                <br>
                $_Server: Contiene las cabeceras, rutas y ubicaciones del script.
                <br>
                $_Session: contiene las variables de sesión disponibles.
                </div><br>
                <strong>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</strong>
                <div class="answer">
                base64_encode : codifica datos con MIME base64.
                <br>
                dba_exists: Verifica si una clave existe.
                </div><br>
                <strong>¿Qué es XSS y cómo se puede prevenir?</strong>
                <div class="answer">
                XSS significa cross-site scripting. Y si no se bloquea, un atacante podría acceder al js de la página siendo capaz de atacarte a ti y a los visitantes de tu página.
                <br>
                Puede ser prevenido usando htmlspecialchars() o htmlentities(). Estas funciones de PHP convierten estos caracteres en entes HTML haciendo que este 'código' sea inútil.
                </div><br>
        </div>
    </div>
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Envíanos tus comentarios</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Envíanos tus comentarios</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" role="form" method="POST" action="send.php">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jose Pablo Prado" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email" placeholder="a00000000@itesm.mx" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Mensaje</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" rows="4" name="mensaje"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>